/* Table */
.table {
  border-collapse: collapse !important;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  text-align: left;
}

.table td,
.table th {
  background-color: #fff;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #D9D9D9;
}

.table th {
  color: #55595c;
  background-color: #eceeef;
}

.table-responsive {
  display: block;
  width: 100%;
  min-height: .01%;
  overflow-x: auto;
}
